/* Universal */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray
}

#fixed-name {
    position: relative;
    margin-left: 200px;
    padding: 0;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: mediumaquamarine;
}

#header-links {
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    background: white;
}

ul {
    list-style-type: none;
}

#one {
    float: right;
    padding: 10px;
}

#two {
    float: right;
    padding: 10px;
}

#three {
    float: right;
    padding: 10px;
}

/* Begin About page CSS */


.big-box {
    margin-left: 200px;
    padding: 25px;
    width: 960px;
    background-color: white;
}

#profile-pic {
    float: left;
    width: 100px;
    height: 100px;
}

#about-me {
    position: relative;
    top: -25px;
    margin: 0;
    padding: 0;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}

#description {

}

/* Begin Contact Page CSS */

#form-1 {
    margin-left: 200px;
    padding: 50px;
    width: 960px;
    background-color: white;
}

#send-button {
    position: relative;
    top: 200px;
}